.w3ls_logo_products_left h1 a {
    font-size: 1.5em;
    color: #212121;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    background: url(../img/logo.jpg) no-repeat 0px -27px;
    line-height: 1;
    height: 170px;
}
.logo_products{
	background-color: black;
}

.navigat {
    display: block;
    overflow: hidden;
    background: #fff;
}
.navigat h2 {
    float: left;
    font-size: 25px;
    color: #333;
    font-weight: 700;
    padding: 14px 10px;
    text-transform: uppercase;
}

#login{
    background-color: white;
}
.loginText{
    text-align: center;
}

#login2{
    background-color: white;
}

#cssButtonDauGia{
    width: 185px;
}

#insertSP{
    background-color: white;
    padding: 35px;
}
input[type=text], select {
    width: 40%;
    padding: 16px 16px;
    margin: 0 -2px 0 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=password]{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


