.w3ls_logo_products_left h1 a {
    font-size: 1.5em;
    color: #212121;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    background: url(../img/logo.jpg) no-repeat 0px -27px;
    line-height: 1;
    height: 170px;
}
.logo_products{
	background-color: black;
}

.navigat {
    display: block;
    overflow: hidden;
    background: #fff;
}
.navigat h2 {
    float: left;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    padding: 14px 10px;
    text-transform: uppercase;
}

#login{
    background-color: white;
}
.loginText{
    text-align: center;
}

#login2{
    background-color: white;
}